{% extends 'core/base.html' %}

{% block title %}Create Room | {% endblock %}

{% block content %}
<div class="">
    <h1 class="">Create Room</h1>
</div>

<form method="post" action="." class="">
    {% csrf_token %}

    <div class="mx-4">
        <label class="">Room Name</label>

        <input type="text" name="name" class="form-control mx-4" style = "width:20rem;">

        <label class="">Unique Slug</label>

        <input type="text" name="slug" class="form-control mx-4" style = "width:20rem;">

        <input type="hidden" name="host" value = {{user.id}}>
    </div>

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %} 
                <div class="">
                    <p>{{ error|escape }}</p>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <button class="btn btn-primary mx-4 mt-4">Create</button>
</form>
{% endblock %}